<h2>Followers List(<%= @user.follower_users.count %>)</h2>
  <ol>
    <% @users.each do |user|%>
      <li class="clearfix">
        <div><%= gravatar_for @user %><%= user.name %></div>
      </li>
    <% end %>
  </ol>
