<h2>Followings List(<%= @user.following_users.count %>)</h2>
  <ol>
    <% @users.each do |user|%>
      <li class="clearfix">
        <div>
          <%= link_to gravatar_for(user, size: 80), user %>
          <%= link_to user.name, user %>
        </div>
      </li>
    <% end %>
  </ol>
